{% extends "base.html" %}

{% load static %}

{% block page_content %}

<section id="headline">
    <div class="jumbotron">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 align-self-center text-center text-lg-left">
                    <strong><h1>Hi, I'm Eric Tyler</h1></strong>
                    <h6>Managing products by day.<br>
                    Mixing drinks by night.<br>
                    Building software on the weekend.</h6>
                </div>
                <div class="col-lg-4 align-self-center text-center">
                    <img src="/static/img/headshot.png" class="rounded-circle img-responsive" alt="family">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section-heading text-center">About Me</h2>
                <hr class="hr-mine">
                <p align="justify">Welcome to my small corner of the internet! Allow me to introduce myself: My name is Eric Tyler. By day, I'm a Product Manager, currently building data sets and analytics tools for the finance industry. On nights and weekends, I fill my time experimenting with mixology, creating small productivity apps, and writing my perspective for leaders in business. This is my central hub, so feel free to follow along with whatever facet most interests you. For now, thank you for stopping by.</p>
            </div>
        </div>
    <div>
</section>

<section id="portfolio">
    <div class="container">
        <h2 class="section-heading text-center">Code</h2>
        <hr class="hr-mine">
        <div class="row pb-3">
            {% for project in projects %}
                <div class="col-md-4">
                    <a href="{% url 'project_detail' project.pk %}">
                    <div class="card mb-2 h-100">
                        <img class="card-img-top" src="{% static project.image %}" alt="Project Image">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ project.title }}</h5>
                            <p class="card-text">{{ project.description }}</p>
                        </div>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col text-center">
                <a type="button" class="btn btn-lg btn-success" href="{% url 'project_index' %}">See All Projects</a>
            </div>
        </div>
    </div>
</section>

<section id="drinks">
    <div class="container pb-3">
        <h2 class="section-heading text-center">Drinks</h2>
        <hr class="hr-mine">
        <div class="row">
        </div>
    </div>
</section>

<section id="writing">
    <div class="container pb-3">
        <h2 class="section-heading text-center">Writing</h2>
        <hr class="hr-mine">
        <div class="row">
            {% for post in posts %}
                <a href="{% url 'blog_detail' post.pk %}">
                <div class="col-md-4">
                    <div class="card mb-2">
                        <div class="card-header">
                            <h5 class="card-title text-center">{{ post.title }}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ post.body | slice:":400" }}...</p>
                        </div>
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>
    </div>
</section>

<section id="contact">
    <div class="container pb-3">
        <div class="row">
            <div class="col-12 text-center">
                <div class="contact-container">
                    <h2 class="section-heading">Connect With Me</h2>
                    <hr class="hr-mine">
                    <a class="btn btn-social-icon btn-lg btn-twitter" href="https://twitter.com/ejtyler" target="_blank">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a class="btn btn-social-icon btn-lg btn-linkedin" href="https://www.linkedin.com/in/ericjtyler" target="_blank">
                        <span class="fa fa-linkedin"></span>
                    </a>
                    <a class="btn btn-social-icon btn-lg btn-microsoft" href="mailto:tyler.ericj@gmail.com?subject=Saw your website..." target="_blank">
                        <span class="fa fa-envelope-o"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
