{% extends "base.html" %}

{% load static %}

{% block page_content %}
<section id="headline">
    <div class="jumbotron">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 align-self-center text-center text-lg-left">
                    <strong><h1>Hi, I'm Eric Tyler</h1></strong>
                    <h6>Managing products by day.<br>
                    Writing code by night.<br>
                    Mixing drinks on the weekend.</h6>
                </div>
                <div class="col-lg-4 align-self-center text-center">
                    <img src="{% static 'img/headshot.png' %}" class="rounded-circle img-responsive" alt="Picture of me at an orchard">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="section-secondary-on-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2 class="secondary-section-header text-center">About Me</h2>
                <hr class="hr-secondary">
            </div>
        </div>
        <div class="row">
            <p align="justify">Welcome to my small corner of the internet! Allow me to introduce myself: My name is Eric Tyler. By day, I'm a Product Manager, currently building data sets and analytics tools for the finance industry. On nights and weekends, I fill my time experimenting with mixology, creating small productivity apps, and writing my perspective for leaders in business. This is my central hub, so feel free to follow along with whatever facet most interests you. For now, thank you for stopping by.</p>
        </div>
    <div>
</section>

<section id="code" class="portfolio" 
style="background: linear-gradient(to right, var(--transparent-primary-light), var(--transparent-primary-light)), url({% static 'img/desk.jpg' %});
background-position: center bottom;
padding: 40px;
-ms-background-size: cover;
-o-background-size: cover;
-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2 class="primary-section-header text-center">Code</h2>
                <hr class="hr-primary">
            </div>
        </div>
        <div class="row pb-3 highlight-list" id="project-list">
            {% for project in projects %}
                <div class="col-md-4">
                    <a href="{% url 'project_detail' project.pk %}">
                    <div class="card mb-2 h-100 highlight highlight-primary">
                        <img class="card-img-top" src="{% static project.image %}" alt="Project Image">
                        <div class="card-body">
                            <h3 class="card-title text-center">{{ project.title }}</h3>
                            <p class="card-text">{{ project.description|slice:":95"|striptags }}...</p>
                        </div>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col text-center">
                <a type="button" class="btn btn-primary btn-lg" href="{% url 'project_index' %}">See All Projects</a>
            </div>
        </div>
    </div>
</section>

<section id="drinks" class="portfolio" 
style="background: linear-gradient(to right, var(--transparent-secondary-light), var(--transparent-secondary-light)), url({% static 'img/bar.jpg' %}); 
background-position: center bottom; 
background-size: cover;
padding: 40px;
border: 20px solid var(--color-secondary-dark);
-ms-background-size: cover;
-o-background-size: cover;
-moz-background-size: cover;
-webkit-background-size: cover;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2 class="secondary-section-header text-center">Drinks</h2>
                <hr class="hr-secondary">
            </div>
        </div>
        <div class="row pb-3 highlight-list" id="drink-list">
            {% for drink in drinks %}
                <div class="col-md-4">
                    <a href="{% url 'drink_detail' drink.pk %}">
                        <div class="card mb-2 h-100 highlight highlight-secondary">
                            <img class="card-img-top" src="{{ drink.image.url }}" alt="Drink Image">
                            <div class="card-body">
                                <h2 class="card-title text-center">{{ drink.name }}</h2>
                                <p class="card-text">{{ drink.summary|slice:":80"|striptags }}...</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col text-center">
                <a type="button" class="btn btn-secondary btn-lg" href="{% url 'drinks_index' %}">See All Drinks</a>
            </div>
        </div>
    </div>
</section>

<section id="writing" class="section-primary-on-white portfolio">
    <div class="container pb-3">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2 class="primary-section-header text-center">Writing</h2>
                <hr class="hr-primary">
            </div>
        </div>
        <div class="row pb-3 highlight-list">
            {% for post in posts %}
                <div class="col-md-4">
                    <a href="{% url 'blog_detail' post.pk %}">
                        <div class="card mb-2 h-100 highlight highlight-primary">
                            <div class="card-header">
                                <h3 class="card-title text-center">{{ post.title }}</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ post.body|slice:":400"|striptags }}...</p>
                            </div>
                            <div class="card-footer text-right">
                                {{ post.last_modified }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col text-center">
                <a type="button" class="btn btn-primary btn-lg" href="{% url 'blog_index' %}">See All Writing</a>
            </div>
        </div>
    </div>
</section>

<section id="contact" 
style="background: linear-gradient(to right, var(--transparent-secondary-light), var(--transparent-secondary-light)), url({% static 'img/network.jpeg' %});
background-position: center bottom;
background-size: cover;
padding: 40px;
border: 20px solid var(--color-secondary-dark);
-ms-background-size: cover;
-o-background-size: cover;
-moz-background-size: cover;
-webkit-background-size: cover;">
    <div class="container pb-3">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2 class="secondary-section-header text-center">Connect With Me</h2>
                <hr class="hr-secondary">
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="contact-container">
                    <a class="btn btn-secondary btn-social-icon btn-lg btn-twitter" href="https://twitter.com/ejtyler" target="_blank">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a class="btn btn-secondary btn-social-icon btn-lg btn-linkedin" href="https://www.linkedin.com/in/ericjtyler" target="_blank">
                        <span class="fa fa-linkedin"></span>
                    </a>
                    <a class="btn btn-secondary btn-social-icon btn-lg btn-microsoft" href="mailto:tyler.ericj@gmail.com?subject=Saw your website..." target="_blank">
                        <span class="fa fa-envelope-o"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
