/* Primary Color is Teal */
:root {
    /* Primary Color is Teal */
    --color-primary-dark: #007872;
    --color-primary-medium: #429F9E;
    --color-primary-light: #A5C5C3;
    --transparent-primary-dark: rgba(0,120,114,.85);
    --transparent-primary-medium: rgba(66,159,158,.85);
    --transparent-primary-light: rgba(165,197,195,.85);
    
    /* Secondary Color is Orange */
    --color-secondary-dark: #EC380B;
    --color-secondary-medium: #F05F3B;
    --color-secondary-light: #F58E6B;
    --transparent-secondary-dark: rgba(236,56,11,.85);
    --transparent-secondary-medium: rgba(240,95,59,.85);
    --transparent-secondary-light: rgba(245,142,107,.85);
}

body {
    font-family: 'Muli', 'Roboto', 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
    color: var(--color-secondary-dark);
    padding: 5px;
    border: 5px solid var(--color-secondary-dark);
}

.navbar-brand:hover {
    color: #000;
    border-color: #000;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: var(--color-secondary-dark);
}

.jumbotron {
    margin-bottom: 0px;
    background-color: transparent;
}

.hr-primary {
	max-width: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: var(--color-primary-dark);
}

.hr-secondary {
    max-width: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-secondary-dark);
}

.btn-primary {
    background: var(--color-primary-medium);
    border: 2px solid var(--color-primary-dark);
}

.btn-primary:hover {
    background: var(--color-primary-dark);
    border: 2px solid var(--color-primary-dark);
}

.btn-secondary {
    background: var(--color-secondary-medium);
    border: 2px solid var(--color-secondary-dark);
}

.btn-secondary:hover {
    background: var(--color-secondary-dark);
    border: 2px solid var(--color-secondary-dark);
}

#headline {
    background: linear-gradient(to top right, var(--color-primary-dark) 60%, var(--color-primary-medium) 40%);
    padding: 40px;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}

#headline img {
    display: block;
    margin: auto;
    border: 5px solid;
    border-color: #FFF;
    max-height: 300px;
}

#about {
    border: 2px dotted var(--color-primary-dark);
    margin: 60px 40px 40px 40px;
    padding: 0px 20px 0px 20px;
}

#portfolio {
    background: linear-gradient(to right, var(--transparent-primary-light), var(--transparent-primary-light)), url(../img/desk.jpg);
    background-position: center bottom;
    padding: 40px;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#drinks {
    background: linear-gradient(to right, var(--transparent-secondary-light), var(--transparent-secondary-light)), url(../img/bar.jpg);
    background-position: center bottom;
    padding: 40px;
    border: 20px solid var(--color-secondary-dark);
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#writing {
    border: 2px dotted var(--color-primary-dark);
    margin: 60px 40px 40px 40px;
    padding: 0px 20px 0px 20px;
}

#contact {
    background: linear-gradient(to right, var(--transparent-secondary-light), var(--transparent-secondary-light)), url(../img/network.jpeg);
    background-position: center bottom;
    padding: 40px;
    border: 20px solid var(--color-secondary-dark);
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.primary-section-header {
    background-color: var(--color-primary-dark);
    font-weight: bold;
    padding: 10px;
    color: #fff;
    clip-path: polygon(5% 100%, 0% 0%, 100% 0%, 95% 100%)
}

.secondary-section-header {
    background-color: var(--color-secondary-dark);
    font-weight: bold;
    padding: 10px;
    color: #fff;
    clip-path: polygon(5% 100%, 0% 0%, 100% 0%, 95% 100%)
}

#portfolio #project-list a:link {
    text-decoration: none !important;
    color: black;
}

#portfolio #project-list a:visited {
    text-decoration: none;
    color: grey;
}

#portfolio #project-list a:hover {
    text-decoration: none;
}

#portfolio #project-list a:active {
    text-decoration: none;
}

#portfolio #project-list a:hover > div{
    box-shadow: 0px 7px 15px 15px var(--color-primary-dark);
}

#portfolio #project-list a:active > div{
    border: 2px solid black;
}