body {
    padding-top: 60px;
    font-family: 'Muli', 'Roboto', 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
}

.jumbotron {
    margin-bottom: 0px;
    background-color: transparent;
}

.hr-mine {
	max-width: 50px;
	border-style: solid;
	border-width: 1px;
	border-color: #224488;
}

.nav-height {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    border-color: #224488;
    background-color: transparent;
}

.navbar-default .navbar-brand {
    color: #224488;
    font-size: 36px;
    font-weight: 900;
    text-decoration: none;
    padding-top: 20px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #666;
}

.navbar-default .navbar-collapse {
    margin-top: 10px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover{
    background-color: #224488;
    color: #fff;
}

#headline {
    background:linear-gradient(to bottom right, #2e5cb8, #142952);
    padding: 40px;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}

#headline img {
    display: block;
    margin: auto;
    border: 5px solid;
    border-color: #fff;
    max-height: 300px;
}

#about {
    padding: 40px;
}

#portfolio {
    background: linear-gradient(to right, rgba(256,256,256,.7), rgba(256,256,256,.7)), url(../img/desk.jpg);
    background-position: center bottom;
    padding: 40px;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#drinks {
    background: linear-gradient(to right, rgba(256,256,256,.7), rgba(256,256,256,.7)), url(../img/bar.jpg);
    background-position: center bottom;
    padding: 40px;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#writing {
    padding: 40px;
}

#contact {
    background:linear-gradient(to right, rgba(256,256,256,.7), rgba(256,256,256,.7)), url(../img/network.jpeg);
    background-position: center bottom;
    padding: 40px;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
