/* Primary Color is Teal */
:root {
    /* Primary Color is Teal */
    --color-primary-dark: #007872;
    --color-primary-medium: #429F9E;
    --color-primary-light: #A5C5C3;
    --transparent-primary-dark: rgba(0,120,114,.85);
    --transparent-primary-medium: rgba(66,159,158,.85);
    --transparent-primary-light: rgba(165,197,195,.85);
    
    /* Secondary Color is Orange */
    --color-secondary-dark: #EC380B;
    --color-secondary-medium: #F05F3B;
    --color-secondary-light: #F58E6B;
    --transparent-secondary-dark: rgba(236,56,11,.85);
    --transparent-secondary-medium: rgba(240,95,59,.85);
    --transparent-secondary-light: rgba(245,142,107,.85);
}

body {
    padding-top: 60px;
    font-family: 'Muli', 'Roboto', 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
}

.jumbotron {
    margin-bottom: 0px;
    background-color: transparent;
}

.hr-mine, .hr-teal {
	max-width: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: var(--color-primary-dark);
}

.hr-orange {
    max-width: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-secondary-dark);
}

.btn, .btn-teal {
    background: var(--color-primary-medium);
    border: 2px solid var(--color-primary-dark);
}

.btn:hover, .btn-teal:hover {
    background: var(--color-primary-dark);
    border: 2px solid var(--color-primary-dark);
}

.btn-orange {
    background: var(--color-secondary-medium);
    border: 2px solid var(--color-secondary-dark);
}

.btn-orange:hover {
    background: var(--color-secondary-dark);
    border: 2px solid var(--color-secondary-dark);
}

#headline {
    background: linear-gradient(to top right, var(--color-primary-dark) 60%, var(--color-primary-medium) 40%);
    padding: 40px;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}

#headline img {
    display: block;
    margin: auto;
    border: 5px solid;
    border-color: #FFF;
    max-height: 300px;
}

#about {
    padding: 40px;
    background: linear-gradient(to right, var(--transparent-secondary-medium), var(--transparent-secondary-medium));
    background-position: center bottom;
    padding: 40px;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#portfolio {
    background: linear-gradient(to right, rgba(165,197,195,.85), rgba(165,197,195,.85)), url(../img/desk.jpg);
    background-position: center bottom;
    padding: 40px;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#portfolio #project-list a:link {
    text-decoration: none !important;
    color: black;
}

#portfolio #project-list a:visited {
    text-decoration: none;
    color: grey;
}

#portfolio #project-list a:hover {
    text-decoration: none;
}

#portfolio #project-list a:active {
    text-decoration: none;
}

#portfolio #project-list a:hover > div{
    box-shadow: 0px 7px 15px 15px var(--color-primary-dark);
}

#portfolio #project-list a:active > div{
    border: 2px solid black;
}

#drinks {
    background: linear-gradient(to right, rgba(245,142,107,.85), rgba(245,142,107,.85)), url(../img/bar.jpg);
    background-position: center bottom;
    padding: 40px;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#writing {
    padding: 40px;
}

#contact {
    background: linear-gradient(to right, rgba(245,142,107,.85), rgba(245,142,107,.85)), url(../img/network.jpeg);
    background-position: center bottom;
    padding: 40px;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}