{% extends "base.html" %}

{% block page_content %}
<section id="drinks-list">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1 class="secondary-section-header text-center">Drinks</h1>
                <hr class="hr-secondary">
            </div>
        </div>

        <div class="row highlight-list" id="drinks-list">
        
            {% for drink in drinks %}
                <div class="col-md-3">
                    <a href="{% url 'drink_detail' drink.pk %}">
                    <div class="card mb-2 highlight highlight-secondary">
                        <img class="card-img-top" src="{{ MEDIA.URL }}{{ drink.image.url }}" alt="Drink Image">
                        <div class="card-body">
                            <h2 class="card-title text-center">{{ drink.name }}</h2>
                            <p class="card-text">{{ drink.summary | slice:":40" }}
                        </div>
                    </div>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}