/* Primary Color is Teal */
:root {
    /* Primary Color is Teal */
    --color-primary-dark: #007872;
    --color-primary-medium: #429F9E;
    --color-primary-light: #A5C5C3;
    --transparent-primary-dark: rgba(0,120,114,.85);
    --transparent-primary-medium: rgba(66,159,158,.85);
    --transparent-primary-light: rgba(165,197,195,.85);
    
    /* Secondary Color is Orange */
    --color-secondary-dark: #EC380B;
    --color-secondary-medium: #F05F3B;
    --color-secondary-light: #F58E6B;
    --transparent-secondary-dark: rgba(236,56,11,.85);
    --transparent-secondary-medium: rgba(240,95,59,.85);
    --transparent-secondary-light: rgba(245,142,107,.85);
}

html, body {
    font-family: 'Muli', 'Roboto', 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

#body {
    padding-bottom: 56px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 56px;
}

.navbar-light {
    background-color: var(--color-primary-light);
}

.navbar-light .navbar-brand {
    color: var(--color-secondary-dark);
}

.navbar-light .navbar-nav .nav-link {
    font-weight: bold;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--color-secondary-dark);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(256, 256, 256)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    color: #000;
    border: 2px solid #fff;
}

/* ################################################################### */
/* #              Classes Comprising Icon                            # */
/* ################################################################### */

/* The core icon background and text formatting */
.icon {
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    background-color: #fff;
    color: var(--color-secondary-dark);
    clip-path: polygon(4% 100%, 0% 0%, 100% 0%, 96% 100%);
    -webkit-clip-path: polygon(4% 100%, 0% 0%, 100% 0%, 96% 100%);
    margin: initial;
}

/* The orange border on the icon */
.icon-border {
    padding: 5px 6px 5px 6px;
    text-align: center;
    background-color: var(--color-secondary-dark);
    clip-path: polygon(5% 100%, 0% 0%, 100% 0%, 95% 100%);
    -webkit-clip-path: polygon(5% 100%, 0% 0%, 100% 0%, 95% 100%);
}

/* The white outer band around the icon */
.icon-outline {
    padding: 5px 6px 5px 6px;
    text-align: center;
    background-color: #fff;
    clip-path: polygon(6% 100%, 0% 0%, 100% 0%, 94% 100%);
    -webkit-clip-path: polygon(6% 100%, 0% 0%, 100% 0%, 94% 100%);
}

/* Hover over properties that change the orange elements black */
.icon-outline:hover .icon-border {
    background-color: #000;
}

.icon-outline:hover .icon {
    color: #000;
}
/* ################################################################### */
/* #              End Icon Classes                                   # */
/* ################################################################### */

.jumbotron {
    margin-bottom: 0px;
    background-color: transparent;
}

#headline {
    background: linear-gradient(to top right, var(--color-primary-dark) 57%, var(--color-primary-light) 57%, 58%, var(--color-primary-medium) 42%);
    padding: 40px;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}

#headline img {
    display: block;
    margin: auto;
    border: 10px solid;
    border-color: var(--color-primary-light);
    max-height: 300px;
}

.hr-primary {
	max-width: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: var(--color-primary-dark);
}

.hr-secondary {
    max-width: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-secondary-dark);
}

.btn-primary {
    background: var(--color-primary-medium);
    border: 2px solid var(--color-primary-dark);
}

.btn-primary:hover {
    background: var(--color-primary-dark);
    border: 2px solid var(--color-primary-dark);
}

.btn-secondary {
    background: var(--color-secondary-medium);
    border: 2px solid var(--color-secondary-dark);
}

.btn-secondary:hover {
    background: var(--color-secondary-dark);
    border: 2px solid var(--color-secondary-dark);
}

.section-primary-on-white {
    border: 2px dotted var(--color-primary-dark);
    margin: 40px;
    padding: 0px 20px 0px 20px;
}

.section-secondary-on-white {
    border: 2px dotted var(--color-secondary-dark);
    margin: 40px;
    padding: 0px 20px 0px 20px;
}

.primary-section-header {
    position: relative;
    bottom: 30%;
    background-color: var(--color-primary-dark);
    font-weight: bold;
    padding: 10px;
    color: #fff;
    clip-path: polygon(5% 100%, 0% 0%, 100% 0%, 95% 100%);
    -webkit-clip-path: polygon(5% 100%, 0% 0%, 100% 0%, 95% 100%);
}

.secondary-section-header {
    position: relative;
    bottom: 30%;
    background-color: var(--color-secondary-dark);
    font-weight: bold;
    padding: 10px;
    color: #fff;
    clip-path: polygon(5% 100%, 0% 0%, 100% 0%, 95% 100%);
    -webkit-clip-path: polygon(5% 100%, 0% 0%, 100% 0%, 95% 100%);
}

.portfolio .highlight-list a:link {
    text-decoration: none !important;
    color: #000;
}

.portfolio .highlight-list a:visited {
    text-decoration: none;
    color: grey;
}

.portfolio .highlight-list a:hover {
    text-decoration: none;
}

.portfolio .highlight-list a:active {
    text-decoration: none;
}

.portfolio .highlight-list a:hover > .highlight-primary {
    box-shadow: 0px 0px 15px 3px var(--color-primary-dark);
}

.portfolio .highlight-list a:hover > .highlight-secondary {
    box-shadow: 0px 0px 15px 3px var(--color-secondary-dark);
}

.portfolio .highlight-list a:active > .highlight {
    border: 2px solid black;
}

.highlight-primary > .card-header {
    background-color: var(--color-primary-light);
    color: #000;
}

.highlight-primary > .card-footer {
    background-color: var(--color-primary-light);
    color: #000;
}

.bottom-nav {
    background-color: var(--color-primary-medium);
}

.bottom-nav .disabled {
    color: #000;
}